html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
#pro {
	font-size: 14pt;
	margin: 14px;
	background-color: #111;
	width: 100px;
	height: 10px;
	overflow: hidden;
}
#proi {
	position: relative;
	left: 0;
	width: 10px;
	height: 10px;
	background-color: #0f0;
}
#x {
	font-family: Helvetica, Verdana, Arial;
	text-align: right;
	width: 250px;
	padding: 15px;
	padding-right: 20px;
	background-color: #caf;
	border: 2px solid #98c;
}
